---
import Layout from "../layouts/Layout.astro";
import { BackgroundGradientAnimationHero } from "../components/background-gradient-animation-hero";
import { ColourfulTextHome } from "../components/colorful-text-home";
import { SpeedText } from "../components/speed-text";
import Palette from "lucide-astro/Palette";
import Atom from "lucide-astro/Atom";
import Zap from "lucide-astro/Zap";
import GitGraph from "lucide-astro/GitGraph";
import { BentoGridThirdHome } from "../components/bento-grid-home";
import { ShootingStarsAndStarsBackgroundHome } from "../components/shooting-stars-withBackground-home";
import { DirectionAwareHoverHome } from "../components/direction-aware-hover-home";
---

<Layout>
  <BackgroundGradientAnimationHero client:load />

  <section class="mt-12 md:mt-24 lg:mt-28 xl:mt-36 relative w-full max-w-screen-xl mx-auto px-4 sm:px-8">
    <div class="flex flex-col">
      <div class="space-y-1">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-[var(--flare-red-500)] to-[var(--flare-pink-300)] font-semibold"
        >
          ¿Por qué elegirnos?
        </span>
        <h2
          class="max-w-screen-lg text-balance font-light font-heading text-xl md:text-3xl lg:text-4xl md:leading-tight"
        >
          Enfoque <span class="font-bold">personalizado, rapidez</span> y un servicio de <span class="font-bold"
            >calidad</span
          >
        </h2>
      </div>
      <div class="mt-6">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-12">
          <div>
            <div>
              <div
                class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-r from-[var(--flare-blue-600)] to-[var(--flare-green-200)]"
              >
                <div class="size-12 lg:size-14 bg-black text-white rounded-full">
                  <div
                    class="size-full bg-gradient-to-br from-[var(--flare-blue-600)]/25 to-[var(--flare-green-200)]/25 rounded-full flex items-center justify-center"
                  >
                    <Palette />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <ColourfulTextHome client:only />
              <p class="text-astro-gray-200 font-light text-base text-balance">
                Cada proyecto es único, y trabajamos contigo para garantizar que tu sitio refleje tu visión.
              </p>
            </div>
          </div>
          <div>
            <div>
              <div
                class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-r from-[var(--flare-red-500)] to-[var(--flare-pink-300)]"
              >
                <div class="size-12 lg:size-14 bg-black text-white rounded-full">
                  <div
                    class="size-full bg-gradient-to-br from-[var(--flare-red-500)]/20 to-[var(--flare-pink-300)]/20 rounded-full flex items-center justify-center"
                  >
                    <Atom />
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-3 space-y-0">
              <h2 class="text-base lg:text-lg text-white font-semibold">Sitios profesionales</h2>
              <p class="text-astro-gray-200 font-light text-base text-balance">
                Creamos sitios web profesionales que no solo se ven bien, sino que también funcionan perfectamente.
              </p>
            </div>
          </div>
          <div>
            <div>
              <div
                class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-r from-[var(--flare-orange-400)] to-[var(--flare-yellow-400)]"
              >
                <div class="size-12 lg:size-14 bg-black text-white rounded-full">
                  <div
                    class="size-full bg-gradient-to-br from-[var(--flare-orange-400)]/15 to-[var(--flare-yellow-400)]/15 rounded-full flex items-center justify-center"
                  >
                    <Zap />
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-3 space-y-0">
              <SpeedText client:only />
              <p class="text-astro-gray-200 font-light text-base text-balance">
                Sabemos lo importante que es para ti tener tu sitio online lo antes posible. Nos enfocamos en entregar
                proyectos rápidamente sin sacrificar calidad.
              </p>
            </div>
          </div>
          <div>
            <div>
              <div
                class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-r from-[var(--flare-deep-purple-700)] to-[var(--flare-blue-600)]"
              >
                <div class="size-12 lg:size-14 bg-black text-white rounded-full">
                  <div
                    class="size-full bg-gradient-to-br from-[var(--flare-deep-purple-700)]/20 to-[var(--flare-blue-600)]/20 rounded-full flex items-center justify-center"
                  >
                    <GitGraph />
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-3 space-y-0">
              <div class="flex items-center bg-gray-900 px-3 py-2">
                <code class="text-base lg:text-lg text-sky-300 font-semibold">Experiencia en desarrollo</code>
              </div>
              <p class="text-astro-gray-200 font-light text-base text-balance">
                Sabemos lo importante que es para ti tener tu sitio online lo antes posible. Nos enfocamos en entregar
                proyectos rápidamente sin sacrificar calidad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-20 md:mt-24 lg:mt-28 xl:mt-36 relative w-full max-w-screen-xl mx-auto px-4 sm:px-8">
    <div class="w-full">
      <div class="space-y-1">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-[var(--flare-red-500)] to-[var(--flare-pink-300)] font-semibold"
        >
          Aumenta la credibilidad y confianza
        </span>
        <h2
          class="max-w-screen-lg text-balance font-light font-heading text-xl md:text-3xl lg:text-4xl md:leading-tight"
        >
          Establece una presencia en línea <span class="font-bold">profesional</span> y <span class="font-bold">
            confiable
          </span> para tu negocio.
        </h2>
        <p class="mt-3 w-full lg:w-2/3 xl:w-1/2 text-base lg:text-balance font-light">
          En Astroflare, nos aseguramos de que tu sitio web refleje la calidad y profesionalismo de tu negocio,
          ayudándote a establecer una presencia en línea sólida y confiable.
        </p>
      </div>
    </div>
    <div
      class="stardust opacity-75 w-full shrink-0 absolute rotate-[-7deg] -z-50 scale-x-[1.5] scale-y-[2.5] rounded-full mask-radial-gradient h-56 md:h-80 lg:h-96"
    >
    </div>
    <div
      class="stardust opacity-50 w-full shrink-0 absolute rotate-[-7deg] -z-50 scale-x-[2.5] scale-y-[4.2] rounded-full mask-radial-gradient h-56 md:h-80 lg:h-96"
    >
    </div>
    <div class="my-8 p-4 sm:p-8">
      <BentoGridThirdHome client:load />
    </div>
    <p class="text-astro-gray-300 text-balance">
      Descubre cómo podemos ayudarte a establecer una presencia en línea sólida y confiable.
      <a
        class="text-astro-gray-100 underline underline-offset-2 decoration-astro-gray-300 hover:decoration-white transition-colors durartion-500 ease-out"
        href="/"
      >
        Solicita un presupuesto</a
      >
      y empezamos a trabajar en tu proyecto.
    </p>
  </section>
  <section class="mt-20 md:mt-24 lg:mt-28 xl:mt-36 relative w-full max-w-screen-xl mx-auto px-4 sm:px-8">
    <div class="w-full">
      <div class="space-y-1">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-[var(--flare-red-500)] to-[var(--flare-pink-300)] font-semibold"
        >
          Explora nuestros proyectos más destacados
        </span>
        <h2
          class="max-w-screen-lg text-balance font-light font-heading text-xl md:text-3xl lg:text-4xl md:leading-tight"
        >
          Explora la <span class="font-bold">calidad</span> y <span class="font-bold">diversidad</span> de nuestros proyectos
        </h2>
        <p class="mt-3 w-full lg:w-2/3 xl:w-1/2 text-base lg:text-balance font-light">
          Desde proyectos pequeños hasta grandes desafíos, hemos ayudado a nuestros clientes a alcanzar sus objetivos.
          Explora nuestro portafolio y descubre cómo podemos ayudarte a alcanzar tus metas.
        </p>
      </div>
    </div>
    <div
      class="stardust-2 opacity-75 w-full shrink-0 absolute rotate-[15deg] -z-50 scale-x-[2.5] scale-y-[2.5] rounded-full mask-radial-gradient h-56 md:h-80 lg:h-96"
    >
    </div>
    <div
      class="stardust-2 opacity-50 w-full shrink-0 absolute rotate-[15deg] -z-50 scale-x-[3.5] scale-y-[4.2] rounded-full mask-radial-gradient h-56 md:h-80 lg:h-96"
    >
    </div>
    <DirectionAwareHoverHome client:load />
  </section>
  <section class="my-20 sm:mt-36 mx-auto w-full max-w-screen-xl px-4 sm:px-8">
    <ShootingStarsAndStarsBackgroundHome client:load />
  </section>
</Layout>
