---
import "../styles/global.css";
import { Header } from "../components/header";
import { Footer } from "../components/footer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/astroflare/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet" />
  </head>
  <body class="flex min-h-screen max-w-screen flex-col overflow-x-hidden">
    <!-- Header global -->
    <Header client:only />
    <main>
      <slot />
    </main>
    <!-- Footer global -->
    <Footer client:only />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
