---
import "../styles/global.css";
import { Facebook, Instagram, Twitter } from "lucide-astro";
import { Header } from "../components/header";
import astroLogo from "../assets/astro.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet" />
  </head>
  <body class="flex min-h-screen max-w-screen flex-col overflow-x-hidden">
    <!-- Header global -->
    <Header client:only />
    <main>
      <slot />
    </main>
    <!-- Footer global -->

    <footer class="w-full border-t border-gray-500 bg-primary">
      <div class="w-full max-w-screen-2xl mx-auto px-4 sm:px-8">
        <nav aria-label="Secondary" class="flex flex-col lg:flex-row justify-between gap-20 py-8 md:py-12">
          <div class="flex flex-col md:max-lg:w-1/2">
            <p class="font-semibold md:text-xl">Explora más de lo que ofrecemos</p>
            <p class="mb-4 pt-2 text-astro-gray-200 lg:text-balance">
              Descubre nuestras secciones de blog y recursos para aprender más sobre diseño y desarrollo web, y cómo
              podemos ayudarte a mejorar tu presencia en línea.
            </p>
          </div>
          <div class="gap-12 sm:gap-16 lg:gap-20 flex flex-wrap xl:grid xl:grid-cols-4">
            <section class="group flex flex-col basis-32">
              <h2 id="footerHeading0" class="mb-4 label-base leading-none text-white font-semibold">Recursos</h2>
              <ul aria-labelledby="footerHeading0" class="flex flex-col gap-2">
                <li>
                  <a
                    href="https://docs.astro.build/en/getting-started/"
                    class="whitespace-nowrap link flex gap-2 items-center"
                  >
                    Docs
                  </a>
                </li><li>
                  <a href="/themes/" class="whitespace-nowrap link flex gap-2 items-center"> Astro </a>
                </li><li>
                  <a href="/showcase/" class="whitespace-nowrap link flex gap-2 items-center"> Sitios </a>
                </li>
              </ul>
            </section>
            <section class="group flex flex-col basis-32">
              <h2 id="footerHeading2" class="mb-4 label-base leading-none text-white font-semibold">Acerca</h2>
              <ul aria-labelledby="footerHeading2" class="flex flex-col gap-2">
                <li><a href="/blog/" class="whitespace-nowrap link flex gap-2 items-center"> Nosotros </a></li><li>
                  <a href="/case-studies/" class="whitespace-nowrap link flex gap-2 items-center"> Blog </a>
                </li><li>
                  <a href="/partnerships/" class="whitespace-nowrap link flex gap-2 items-center"> Partners </a>
                </li>
              </ul>
            </section>
            <section class="group flex flex-col basis-32">
              <h2 id="footerHeading3" class="mb-4 label-base leading-none text-white font-semibold">Legal</h2>
              <ul aria-labelledby="footerHeading3" class="flex flex-col gap-2">
                <li>
                  <a href="/privacy/" class="whitespace-nowrap link flex gap-2 items-center"> Privacy Policy </a>
                </li><li>
                  <a href="/terms/" class="whitespace-nowrap link flex gap-2 items-center"> Terms of Service </a>
                </li>
              </ul>
            </section>
          </div>
        </nav>
        <hr class="border-gray-700" />
        <nav aria-label="Legal" class="py-8 flex flex-col-reverse md:flex-row items-center justify-between gap-4">
          <div class="flex items-center gap-2 text-sm md:gap-4 md:text-base flex-wrap justify-center">
            <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
            <a target="_blank" class="link" href="https://github.com/withastro/astro/blob/main/LICENSE">
              © 2025&nbsp;
            </a>
            <a class="link" target="_blank" href="https://github.com/withastro/astro/graphs/contributors">
              All rights reserved.
            </a>
          </div>
          <div class="flex items-center gap-1 flex-wrap">
            <a
              target="_blank"
              rel="noopener noreferer"
              class="link flex items-center gap-2 p-3 text-white"
              href="https://facebook.com"
            >
              <span class="sr-only">Join the Astro community on Discord</span>
              <Facebook size={28} />
            </a><a
              target="_blank"
              rel="noopener noreferer"
              class="link flex items-center gap-2 p-3 text-white"
              href="https://instagram.com"
            >
              <span class="sr-only">Go to Astro's GitHub repo</span>
              <Instagram size={28} />
            </a><a
              target="_blank"
              rel="noopener noreferer"
              class="link flex items-center gap-2 p-3 text-white"
              href="https://twitter.com"
            >
              <span class="sr-only">Follow Astro on Mastodon</span>
              <Twitter size={28} />
            </a>
          </div>
        </nav>
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
